* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Monospace', sans-serif;
}
.classColor {
	background-color: #4d6581;
}
.customContainer {
	max-width: 956px;
	margin: auto;
	padding: 0 14px;
}
.customContainer:before,
.customContainer:after {
	display: block;
	content: "";
	clear: both;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/*HEADER - NAVIGATION SECTION*/
.headerNavigation {
	height: 61px;
	margin: 100px 0 14px 0;
	background-color: #fff;
}
/*BURGER MENU*/
.burgerMenu {
	display: inline-block;
	float: left;
	padding: 18px 19px;
	background-color: #56ccc8;
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
	width: 22px;
	height: 3px;
	background-color: #fff;
	margin: 4px 0;
	transition: 0.4s;
	border-radius: 1px;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-49deg) translate(-5px, 5px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(1px, -1px);
	transform: rotate(49deg) translate(1px, -1px);
}
/*MENU LIST*/
.navMenu {
	float: left;
	display: none;
}
.navMenu li {
	margin-right: 40px;
}
.headerNavigation li {
	display: inline;
}
.headerNavigation ul {
	padding: 8px 0 0 50px;
}
.headerNavigation a {
	color: #475055;
}
.headerNavigation a:hover {
	color: #56ccc8;
}
/*ICONS*/
.navBar {
	float: right;
	margin-right: 20px;
}
.headerNavigation i {
	position: relative;
	top: -22px;
	margin: 0 7px;
	color: #b2b9bd;
}
.navBar div {
	display: inline-block;
	height: 61px;
	width: 1px;
	margin: 0 8px;
	background-color: #dde2e4;
}
.navBar .fa-user {
	font-size: 20px;
}
.navBar:last-child div {
	margin-right: 13px;
}


/*MAIN SECTION*/
.mainContent {
	width: 50%;
	float: left;
}
.mainContent ul {
	padding: 0;
	margin: 0;
}
.leftSide {
	float: left;
}
.mainRef, .mainInfo {
	width: 225px;
}
.mainRef {
	background-color: #fff;
	border-bottom: 1px solid #b2babe;
}
.mainRef li {
	padding: 17.3px 18px 17.5px 24px;
	border-bottom: 1px solid #e1e5e7;
}
.mainRef i {
	font-size: 25px;
	color: #c5cdd1;
}
.mainRef .fa-envelope {
	font-size: 21px;
	padding-bottom: 4px;
}
.mainRef span {
	padding-left: 15px;
	color: #475055;
}
.mainRef li:hover {
	background-color: #56ccc8;
	cursor: pointer;
}
.mainRef li:hover i {
	color: #fff;
}
.mainRef li:hover span {
	color: #fff;
}
/*Info section*/
.mainInfo {
	width: 225px;
	padding: 5px 0 28px 0;
	background-color: #c5cdd1;
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
}
.mainInfo li {
	padding: 27px 0 0 24px;
}
.mainInfo i {
	float: left;
	font-size: 30px;
}
.mainInfo p {
	margin-left: 41px;
}
.mainInfo .fa-envelope {
	font-size: 21px;
}
/*List of references*/
.rigthSide {
	padding-top: 15px;
	padding-bottom: 8.3px;
	background-color: #152840;
	border-bottom: 1px solid #48657d;
}
.rigthSide:hover {
	background-color: #263a54;
}
.rigthSide li {
	padding: 8px 0;
}
.rigthSide a {
	padding-left: 30px;
}
.aHeader {
	font-size: 16px;
	color: #56ccc8;
}
.aHeader i {
	float: right;
	margin-right: 20px;
	font-size: 20px;
}
.aNested a {
	color: #fff;
	font-size: 14px;
}


/*ADDITIONAL CONTENT SECTION*/
/*Social network list*/
.socialList {
	background-color: #fff;
	width: 23.2%;
	float: left;
	padding-bottom: 2px;
	margin-left: 14px;
}
.socialList ul {
	padding-left: 28px;
}
.socialList li {
	padding: 11px 0;
}
.socialList i {
	padding-right: 10px;
	color: #fff;
	border-radius: 18px;
	background-color: #c5cdd1;
}
.socialList .fa-facebook {
	padding: 10px 13px 8px 11px;
}
.socialList .fa-twitter {
	padding: 9px 10px;
}
.socialList .fa-google-plus {
	padding: 9px 7px;
}
.socialList .fa-rss, .fa-pinterest-p {
	padding: 9px 11px;
}
.socialList a {
	color: #475055;
}
.socialList span {
	padding-left: 15px;
}
.socialList .classForHoverF:hover span {
	color: #4d6baa;
}
.socialList .classForHoverF:hover i {
	background-color: #4d6baa;
}
.socialList .classForHoverT:hover span {
	color: #4fc6f8;
}
.socialList .classForHoverT:hover i {
	background-color: #4fc6f8;
}
.socialList .classForHoverG:hover span {
	color: #ea6060;
}
.socialList .classForHoverG:hover i {
	background-color: #ea6060;
}
.socialList .classForHoverR:hover span {
	color: #ff7010;
}
.socialList .classForHoverR:hover i {
	background-color: #ff7010;
}
.socialList .classForHoverP:hover span {
	color: #d73532;
}
.socialList .classForHoverP:hover i {
	background-color: #d73532;
}
/*Facebook section*/
.widgets {
	width: 24%;
	float: right;
}
.faceSection {
	height: 150px;
	background-color: #4d6baa;
	color: #fff;
}
.faceSection .fa-facebook {
	font-size: 45px;
	padding: 25px;
}
.faceSection div {
	padding: 15px 0 15px 20px;
}
.faceSection span:last-child {
	padding-left: 60px;
}
.faceSection .fa-plus {
	padding: 4px 5px;
	border-radius: 12px;
	margin-left: 9px;
	border: 2px solid #fff;
	font-size: 12px;
	color: #fff;
}
/*Twitter section*/
.twitSection {
	margin-top: 14px;
	height: 150px;
	background-color: #4fc6f8;
	color: #fff;
}
.twitSection .fa-twitter {
	font-size: 45px;
	padding: 25px;
}
.twitSection div {
	padding: 15px 0 15px 20px;
}
.twitSection span:last-child {
	padding-left: 50px;
}
.twitSection .fa-check-circle {
	position: relative;
	top: 3px;
	left: 5px;
	font-size: 25px;
	color: #fff;
}
/*Sign In Section*/
.signInSection {
	width: 48.4%;
	float: right;
	margin: 14px 0 0 14px;
	padding-bottom: 10px;
	background-color: #fff;
	text-align: center;
}
.signInSection h2, span {
	color: #475055;
	font-weight: 400;
}
.signInSection h2 {
	margin: 23px 3px 8px 0;
}
.signInSection span {
	font-size: 15px;
}
.signInSection i {
	margin: 25px 0 17px 0;
	color: #fff;
}
.signInSection a {
	padding: 0 9px;
}
.signInSection .fa {
	border-radius: 18px;
}
.signInSection .fa-facebook {
	padding: 10px 13px 8px 11px;
	background-color: #4d6baa;
}
.signInSection .fa-twitter {
	padding: 9px 10px;
	background-color: #4fc6f8;
}
.signInSection .fa-google-plus {
	padding: 9px 7px;
	background-color: #ea6060;
}
.signInSection .fa-linkedin {
	padding: 9px 10px;
	background-color: #238cc8;
}
/*Join section*/
.joinSection {
	width: 48.4%;
	float: right;
	background-color: #fff;
	margin: 14px 0 0 14px;
	text-align: center;
	padding-bottom: 10px;
}
.joinSection h2, span {
	color: #475055;
}
.joinSection h2 {
	margin: 24px 3px 8px 0;
	font-size: 25px;
	font-weight: 400;
}
.joinSection span {
	font-size: 11px;
	font-weight: 600;
}
.joinSection form {
	margin: 25px 0 13px 0;
}
.joinSection input {
	width: 64%;
	height: 40px;
	padding: 0 18px;
	font-size: 16px;
	border: 1px solid #dde2e4;
	border-radius: 3px;
}
.joinSection input::placeholder {
	color: #c5cdd1;
}
.joinSection button {
	padding: 12.5px 20px;
	margin-left: 10px;
	border: none;
	border-radius: 3px;
	background-color: #ea6060;
	color: #fff;
}


/*CAROUSEL*/
.carouselSection {
	margin: 56px 0 88px 0;
}
.carousel .item {
	height: 453px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 20%;
}
.slick-arrow {
	position: absolute;
	top: 36%;
	width: 35px;
	height: 50px;
	border: none;
	background-color: #fff;
	color: #585858;
	font-weight: 700;
	z-index: 1;
	outline: none;
	border-radius: 2px;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
	content: ">";
}
.slick-dots {
	text-align: center;
	position: relative;
	bottom: 92px;
	z-index: 1;
}
.slick-dots li {
	display: inline-block;
}
ul.slick-dots button {
	margin: 0 5px;
	width: 5px;
	height: 10px;
	border: none;
	border-radius: 10px;
	background-color: #b7b7b7;
	color: transparent;
	font-size: 1px;
	outline: none;
}
li.slick-active button {
	background-color: #fff;
}
.infoInCarousel {
	margin-left: 60px;
}
.infoInCarousel h2, p {
	margin: 0;
	color: #fff;
}
.infoInCarousel h2 {
	font-size: 42px;
	font-weight: 400;
	padding-bottom: 25px;
}
.infoInCarousel p {
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
}
.infoInCarousel button {
	position: absolute;
	height: 50px;
	width: 171px;
	top: 39%;
	border: 1px solid #fff;
	border-radius: 2px;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	outline: none;
	font-size: 16px;
}
.modalContent {
	background-color: #fff;
	padding: 5px 0 10px 0;
}
.modalContent h4 {
	padding: 20px 30px 10px 30px;
	font-size: 20px;
	color: #475055;
}
.modalContent input, textarea {
	width: 90%;
	margin:0 0 20px 15px;
	border: 1px solid #dde2e4;
	border-radius: 1px;
	height: 40px;
	padding: 0 18px;
	font-size: 16px;
}
.modalContent textarea {
	margin-left: 15px;
	resize: none;
	height: 100px;
}
.modalContent input[type="text"]::placeholder {
	color: #a3abaf;
}
.modalContent button {
	padding: 10px 20px;
	margin: 15px;
	border: none;
	border-radius: 4px;
	background-color: #ea6060;
	color: #fff;
}



/*RESPONSIVE*/
/*1024px*/
@media (max-width: 1024px) {
	.mainContent {
		width: 100%;
	}
	.mainRef, .mainInfo {
		width: 310px;
	}
	.rigthSide {
		padding-bottom: 8.3px;
	}
	.socialList {
		margin: 14px 0 0 0;
		padding-top: 2px;
	}
	.socialList li {
		padding: 14px 0;
	}
	.widgets {
		float: left;
		margin: 14px 22px;
	}
	.faceSection, .twitSection {
		height: 166px;
		padding-top: 5px;
	}
	.signInSection, .joinSection {
		width: 48%;
		margin: 14px 0 0 0;
	}
}

/*960px*/
@media (max-width: 960px) {
	.headerNavigation {
		height: 120px;
	}
	.burgerMenu {
		padding: 20px 30px;
	}
	.bar1, .bar2, .bar3 {
		width: 62px;
		height: 8px;
		margin: 14px 0;
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-15px, 15px);
		transform: rotate(-49deg) translate(-15px, 15px);
	}
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(0, 0);
		transform: rotate(49deg) translate(0, 0);
	}
	.navMenu {
		font-size: 32px;
	}
	.navBar i {
		font-size: 40px;
	}
	.navBar div {
		height: 120px;
		width: 3px;
	}
	.headerNavigation i {
		top: -40px;
		margin: 0 25px;
	}
	.leftSide {
		float: none;
	}
	.mainRef, .mainInfo {
		width: 100%;
		font-size: 40px;
	}
	.mainRef i {
		font-size: 50px;
	}
	.mainRef .fa-envelope {
		font-size: 42px;
	}
	.mainRef span {
		margin-left: 30%;
	}
	.mainInfo i {
		font-size: 60px;
	}
	.mainInfo .fa-envelope {
		font-size: 42px;
	}
	.mainInfo p {
		margin-left: 30%;
	}
	.aHeader {
		font-size: 55px;
	}
	.aHeader i {
		margin: 30px 20px 0 0;
		font-size: 170px;
	}
	.aNested a {
		font-size: 40px;
	}
	.socialList {
		width: 55%;
		font-size: 35px;
	}
	.socialList i {
		margin: 0 30px 0 30px;
		border-radius: 36px;
	}
	.socialList .fa-facebook {
		padding: 20px 30px 16px 22px;
	}
	.socialList .fa-twitter {
		padding: 18px 20px;
	}
	.socialList .fa-google-plus {
		padding: 18px 14px;
	}
	.socialList .fa-rss {
		padding: 18px 22px;
	}
	.socialList .fa-pinterest-p {
		padding: 18px 24px;
	}
	.widgets {
		width: 43%;
		float: right;
		margin: 14px 0;
		font-size: 30px;
	}
	.faceSection, .twitSection {
		height: 277.5px;
	}
	.faceSection .fa-facebook {
		font-size: 85px;
	}
	.faceSection div {
		padding-top: 70px;
	}
	.faceSection span:last-child {
		padding-left: 100px;
	}
	.faceSection .fa-plus {
		padding: 8px 10px;
		border-radius: 24px;
		font-size: 20px;
	}
	.twitSection .fa-twitter {
		font-size: 85px;
	}
	.twitSection div {
		padding-top: 55px;
	}
	.twitSection span:last-child {
		padding-left: 80px;
	}
	.twitSection .fa-check-circle {
		font-size: 45px;
	}
	.signInSection, .joinSection {
		width: 100%;
	}
	.signInSection h2 {
		font-size: 50px;
		margin-bottom: 20px;
		margin-top: 30px;
	}
	.signInSection span {
		font-size: 30px;
	}
	.signInSection i {
		font-size: 40px;
	}
	.signInSection a {
		padding: 0 25px;
	}
	.signInSection .fa {
		border-radius: 36px;
	}
	.signInSection .fa-facebook {
		padding: 20px 30px 16px 24px;
		background-color: #4d6baa;
	}
	.signInSection .fa-twitter {
		padding: 18px 20px;
		background-color: #4fc6f8;
	}
	.signInSection .fa-google-plus {
		padding: 18px 12px;
		background-color: #ea6060;
	}
	.signInSection .fa-linkedin {
		padding: 18px 20px;
		background-color: #238cc8;
	}
	.joinSection h2 {
		margin: 30px 3px 28px 0;
		font-size: 55px;
	}
	.joinSection span {
		font-size: 22px;
	}
	.joinSection form {
		margin: 50px 0 50px 0;
	}
	.joinSection input {
		width: 65%;
		height: 100px;
		padding: 0 18px;
		font-size: 36px;
	}
	.joinSection button {
		padding: 28px 50px;
		margin-left: 10px;
		font-size: 36px;
	}
	.slick-arrow {
		z-index: -1;
	}
	.slick-dots {
		z-index: -1;
	}
	.infoInCarousel h2 {
		font-size: 72px;
	}
	.infoInCarousel p {
		font-size: 24px;
	}
	.infoInCarousel button {
		height: 100px;
		width: 300px;
		top: 60%;
		font-size: 36px;
	}
}